[2021-01-06 17:45] gauravbrills commented on #316
PR merged , closing issue .

[2021-01-06 17:45] #316 closed

[2021-01-07 02:37] clasnake commented on #325
Thanks!

[2021-01-08 19:37] rubenssoto opened #333 "Does Deequ has slack notification support?"
Hello,

Does Deequ has any notification alert feature?

thank you

[2021-01-11 13:10] utkarshshukla2912 commented on #323
RTFD my bad.

[2021-01-11 13:10] #323 closed

[2021-01-18 17:44] green2k commented on #314
Any update on this?

It looks like the `${artifact.scala.version}` and `${artifact.spark.version}` are not being evaluated correctly when installing the dependency. These variables are defined in the `spark-3.0-scala-2.12` profile, however, the application doesn't know which profile (defined in the `pom.xml`) to use when downloading/installing the dependency.

I see two possible solutions:
A) Buil

[2021-01-18 17:51] alexott commented on #314
I saw other projects are just using the shell scripts to switch versions in the artifactId...

[2021-01-18 17:58] green2k commented on #314
@alexott Could you, please, provide some referenced project?

[2021-01-18 18:14] alexott commented on #314
spark-redis, for example:  https://github.com/RedisLabs/spark-redis/blob/master/doc/dev.md

[2021-01-19 02:10] CarterKilgour commented on #283
@iatsukanov inspired by the post [here](https://github.com/Azure/azure-cosmosdb-spark/issues/239) I was able to get around this issue with the following:

`libraryDependencies += "org.apache.spark" %% "spark-core" % "3.1.0"  % "provided"
 libraryDependencies +=  "org.apache.spark" %% "spark-sql".   % "3.0.1" % "provided"
 libraryDependencies += "com.amazon.deequ" % "deequ"         % "1.0.5" % "pro

[2021-01-19 02:17] CarterKilgour commented on #193
@timgent inspired by the post [here](https://github.com/Azure/azure-cosmosdb-spark/issues/239) I was able to get around this issue with the following:

[code]

[2021-01-19 02:53] nitendragautam opened #335 "Any possibility Scala or Java Documentation?"
I have a requirement when I need to implement Data quality check as a part of ETL pipeline.
I am thinking of using Amazon Deequ library instead of writing from the scratch. I see the documentation for python https://pydeequ.readthedocs.io/en/latest/index.html

Is there a plan document for this library like above if want to use Scala or Java?

[2021-01-19 08:55] green2k commented on #314
Thanks, this approach of course works. I used a similar custom script for the build process in my case; so problem solved for me (althought, it's kind of a "hacky" solution 😬).

[2021-01-19 10:52] froocpu opened #336 ""Modules were resolved with conflicting cross-version suffixes""
I get the following error when I try to import dependencies with the following in my build.sbt:

[code]

However, it does compile properly when I provide the following configurations:

[code]

I'm building using sbt version 1.2.8 and I've tried importing these dependencies with other versions of sbt, too. Behaviour also persists if you use the sbt plugin or run sbt from the terminal directly.

I'v

[2021-01-25 11:52] hedibejaoui commented on #336
@froocpu I was able to solve this error by excluding some of Deequ's transitive libraries that are cross-compiled with Scala 2.11:
[code]

[2021-01-26 16:44] matt12eagles commented on #254
Hi All, any solution to the above? I to would like to store the constraints in a DB and "reuse" them and "compare" them over time

[2021-01-26 18:53] leopasta commented on #336
Although that compiled fine, our tests that rely on RelativeRateOfChangeStrategy fails with no class found for breeze:
[code]

[2021-01-26 23:16] hedibejaoui commented on #336
@leopasta Try adding the breeze library explicitly as a test dependency.

[2021-02-03 02:53] nathan-bennett commented on #336
I ran into a similar issue when using gradle. I just excluded the spark dependency when compiling deequ:
`    compile(group: 'com.amazon.deequ', name: 'deequ', version: '1.1.0_spark-3.0-scala-2.12'){
        exclude group: 'org.apache.spark', module: 'spark-core_2.11'
        exclude group: 'org.apache.spark', module: 'spark-sql_2.11'
    }`

[2021-02-04 17:41] ets opened #341 "Inconsistent numRecordsUsedForProfiling count generated by ConstraintSuggestionRunner"
Repeated runs of ConstraintSuggestionRunner over the exact same dataframe produce different values of ConstraintSuggestionResult.numRecordsUsedForProfiling

Is that expected?  If not, I'm happy to file a bug with a testcase but I'm guessing the misunderstanding is mine. Why does the value of numRecordsUsedForProfiling vary?

[2021-02-09 03:46] ets commented on #341
Posting an answer to my own query.  My issue stemmed from:
[code]
If you don't pass a value for testsetSplitRandomSeed, it defaults to None.  However that doesn't result in a non-randomized split - Deequ simply assigns a random Long on your behalf using Utils.random.nextLong

If reproducibility is what you desire - you'll need to pin that parameter to a constant for all runs.

[2021-02-09 03:46] #341 closed

[2021-02-14 20:52] katzp opened #344 "Expose constraint hints in constraint results"
I'm taking check results/metrics and sending them to slack as well as snowflake.
Would love to include the constraint hints as sometimes this will be much easier to read than the Constraint result message/constraint.

Think this could be more easily accessed if the Check case class didn't put constraints as private. For example:

[code]

[2021-02-15 02:59] aviatesk commented on #344
#339 will help this ?

[2021-02-15 10:48] katzp commented on #344
Yes this pr will do what I want. Thanks

[2021-02-18 12:35] aldmser opened #345 "Assertion failure in anomaly detection (HoltWinters)"
Hi, I have a problem with anomaly detection using HoltWinters analyzer. I've created small code snippet to illustrate it:

[code]

running it causes this exception:

[code]

could you help me please with advice on how am I supposed to fix that?

Thanks.

[2021-02-23 14:17] debapratimc opened #346 "Checking a column of 'TimestampType' datatype in Deequ"
Hello,

My dataframe has a column of type 'TimestampType', and I was wondering if there was any check I could perform to see if that column has dates less than a certain specified date.

I want to be able to use it in the following way:

[code]

[2021-02-24 13:07] debapratimc commented on #346
If someone comes by this;

One way to do this is to use spark to copy the existing dataframe, convert the 'TimestampType' into 'Date' and then filter out the new dataframe based on specified date.

Now, you can simply compare the size of the two dataframes using Deequ.

[2021-02-25 03:12] piotrm0 commented on #336
On a related note, does anyone know why the 1.1.0 release which even has "scala-2.12" in its name depends on spark for scala-2.11 on maven as in here: https://mvnrepository.com/artifact/com.amazon.deequ/deequ/1.1.0_spark-3.0-scala-2.12 .

[2021-02-28 10:32] SerenaLin2020 commented on #308
Hi @sscdotopen , we have a use case that want to run analyzers(size, maximum, minimum etc.) parallel under different dimension. Since Analyzers accept dataframe and sparkSession as input parameters, we want to calculate a bunch of Analyzers under hundreds of dimensions. We found that it's hard to make the calculation parallel, is there an example to do this? Thanks!

Here is a presudo code
[code]

[2021-02-28 11:08] SerenaLin2020 commented on #333
slack alerts could be configured with the slack bot API. here is an example
[code]

[2021-03-04 19:49] bhavana3 commented on #308
Hi @sscdotopen , we have similar use case of running simple analyzers (completeness, entropy, countdistinct) on 700+ columns, looking at DAG it seems all are executing in sequence, in my case, I am adding all analyzers to a single AnalaysisRunner object and making only one run call, could you help understand how to make it parallel in my case to optimize run time?

[2021-03-04 20:54] Zamlos opened #348 "DeeQu is not running with Scala 2.12"
Hi, I tried to run Deequ using the workaround [here](https://github.com/awslabs/deequ/issues/193) exposed. Nevertheless, when I run the job I get the following error.

`Exception in thread "main" java.lang.NoClassDefFoundError: com/amazon/deequ/analyzers/Analyzer
	at com.deequ_unit_tests.DeeQu_experiment.main(DeeQu_unit_tests.scala)
Caused by: java.lang.ClassNotFoundException: com.amazon.deequ.ana

[2021-03-04 22:27] bhavana3 commented on #308
@mschandra18 Could you help

[2021-03-05 23:38] DPUkyle opened #349 "`<spark.version>` substitution appears broken in published POMs"
The `<spark.version>` substitution appears incorrect on POMs published to Maven Central.

Consider this example: https://repo1.maven.org/maven2/com/amazon/deequ/deequ/1.1.0_spark-2.3-scala-2.11/deequ-1.1.0_spark-2.3-scala-2.11.pom

The artifact name suggests spark 2.3. However on line 71 of the POM above, `spark.version` is defined as `spark-24.version`. Line 89 then declares a dependency on `spar

[2021-03-08 03:52] SerenaLin2020 commented on #335
@nitendragautam There are lots of examples and unit test for the Deequ Scala. Here https://github.com/awslabs/deequ/tree/master/src/main/scala/com/amazon/deequ/examples and here https://github.com/awslabs/deequ/tree/master/src/test/scala/com/amazon/deequ.
Seems that the fastest way to get the tutorial is by reading the code and the example. The overall is simple and not that hard to understand.

[2021-03-08 11:16] alexott commented on #348
yes, because of the incorrect dependencies:

[code]

[2021-03-09 21:37] markproy opened #350 "Constraint message returned from isContainedIn does not identify the bad value that it found"
The “isContainedIn” constraint check does not give a proper `constraint_message` when it detects a violation. In my example, I was ensuring state was in a list of state codes (e.g., "MA", "NY", "CA"). instead of “Value: “FL” does not meet the constraint”, the message returned is “Value: 0.6 does not meet the constraint”. Good news is that Deequ correctly identifies the violation, but the bad news

[2021-03-13 19:46] nitendragautam commented on #335
@SerenaLin2020  Thanks. i will take a look.

[2021-03-13 19:46] #335 closed

[2021-03-18 04:33] ritesh-codebrew opened #351 "Please update Maven , sbt dependency"
The Deequ repo is hosted at the following link:
https://repo1.maven.org/maven2/com/amazon/deequ/deequ/1.1.0_spark-3.0-scala-2.12/deequ-1.1.0_spark-3.0-scala-2.12.pom
But the following maven , sbt dependency leads to the following link:
https://repo1.maven.org/maven2/com/amazon/deequ/deequ/1.1.0-spark-3.0-scala-2.12/deequ-1.1.0-spark-3.0-scala-2.12.pom
Please update the dependencies in README file

[2021-03-19 14:12] prashantprp opened #352 "Pqdeequ isfractional is not working as expected."
![image](https://user-images.githubusercontent.com/43674059/111792852-49cd7c80-888a-11eb-9c95-6443065e0a42.png)

I am using the supermarket_sales.csv
import pydeequ
from pydeequ.analyzers import *
df = spark.read.option("header","true").csv("/FileStore/tables/supermarket_sales.csv")

and the  .hasDataType("Rating",ConstrainableDataTypes.Fractional) returns false citing -  |Value: 0.881 does not me

[2021-03-21 11:50] MrPowers commented on #348
@alexott - Looks like the Spark 3 Deequ JAR file is depending on Scala 2.11 stuff and is broken.  There might be a work-around in some runtimes, but this JAR file will be problematic for any projects depending on SBT dependency resolution.

I think you're raising a valid error @Zamlos.

<img width="1236" alt="Screen Shot 2021-03-21 at 8 48 08 AM" src="https://user-images.githubusercontent.com/2722

[2021-03-21 11:56] alexott commented on #348
@MrPowers yes - it looks like a problem with profiles...

[2021-03-21 12:27] MrPowers opened #353 "Malformed JARs & non-standard naming"
Thanks for building this project.  Very valuable for the community.

Some Scala conventions aren't being properly followed, so the Spark 3 JAR files are unusable for a lot of users (should work for ppl attaching the JAR directly to a cluster, but won't work as a libraryDependency).

`spark-daria_2.12-0.38.2.jar` is the standard way to name a JAR.  The standard way to name the Deequ JAR would be `d

[2021-03-21 12:30] MrPowers commented on #348
@alexott - I created [a separate issue](https://github.com/awslabs/deequ/issues/353) to explain the status-quo and a good path forward.  Hopefully we can get the publishing process fixed cause this is a really valuable library for the community.

[2021-03-22 13:23] mschandra18 commented on #352
The output means  88% of the rows contains data of type fractional.  As the constraint looks for 100% match, it is failing.
0.881 -> Is the ratio of rows within the constraint to that of the total no. of rows.

[2021-03-22 13:30] mschandra18 commented on #308
@bhavana3  as mentioned by @sscdotopen  in above comments, analyzers other than Histogram are run in parallel.

In our case, to make Histogram run in parallel, we changed the  "otherMetrics" (in the original post) from seq to parseq.

[2021-03-23 06:31] aviatesk commented on #352
Use `.hasDataType(column, ConstrainableTypes.Numeric)` if you want to allow both `Integral` and `Fractional` column types.

FWIW, my fork of deequ will suggest constraint with `Numeric` if your column contains both types:
https://github.com/aviatesk/deequ/pull/2

[2021-03-24 18:10] MrPowers opened #354 "Considering a fork of this repo to get it usable again"
Thanks again for making this project.

I did [some searching](https://www.reddit.com/r/apachespark/comments/ma7j05/considering_forking_deequ/) / emailing to see if anyone is still maintaining this project and wasn't able to find anyone.

I'm considering making a fork of this repo, at least to publish Spark 3 JAR files that work ([current Spark 3 JAR files are malformed](https://github.com/awslabs/

[2021-03-25 03:08] aviatesk commented on #354
Hi, I already forked deequ and keep bugfixing and adding features here: https://github.com/aviatesk/deequ
You can find changes from the original deequ repository in [CHANGELOG](https://github.com/aviatesk/deequ/blob/master/CHANGELOG.md).
We're building the forked deequ ourselves and thus haven't released jars, but I'm welcome to do that if there is a demand for that.

I'm also planning to announce

[2021-03-25 10:51] MrPowers commented on #354
@aviatesk - glad to see you've already made great progress.

It'd be great it you could shift your fork to SBT & publish it to Maven.  I can help if you're not familiar with the process.

We recently worked to [publish itachi to Maven](https://github.com/yaooqinn/itachi/issues/1) and the [README of this project has good instructions](https://github.com/olafurpg/sbt-ci-release).

Getting a properly

[2021-03-25 10:54] sscdotopen commented on #354
I think this is a great idea. I lost my push access to this repository since I left Amazon, and I don't have time in my new job to work on Deequ anymore. I'd be happy to see it continued by a community!

[2021-03-26 21:29] ets commented on #354
I've been maintaining my own fork after merging https://github.com/awslabs/deequ/pull/299 for my own use - and would enthusiastically contribute to a new community.

[2021-03-31 08:52] twollnik commented on #354
Hi all. I'm really sorry, we haven't had much availability for deequ over the last months. Thank you all for contributing to the project! We are committed to fixing the jars by mid-April. We will also review our open-source commitments internally some time soon and might have more availability for deequ in the future. Thanks again!

[2021-03-31 11:59] Awe42 commented on #223
Would love to see RowLevelSchemaValidator include Compliance checks - it's usually important in use cases with manual file input where human error is a factor. Here we need to know which are the exception records and why, so that they can be fixed.

Any updates on this?

[2021-04-01 06:04] ananthsathvick commented on #193
This worked for me
Scala version 2.12.12
Spark version 3.1.1

[2021-04-06 14:30] twollnik commented on #351
implemented in https://github.com/awslabs/deequ/pull/347

[2021-04-06 14:30] #351 closed

[2021-04-10 11:15] NiyatiMehta99 opened #356 "To find which column failed validation"
Hi,
This is an extension of issue #188.
After executing RowLevelSchemaValidation and getting the dataframe of the invalid rows,
is it possible to give a message about which column in the row failed validation?

For example, if column id is of type integer and a string is filled in a row.... is it possible to give a message that column id failed validation.

Thanks

[2021-04-13 08:22] twollnik commented on #353
Hi. Thanks for raising this point, we are happy to implement the changes needed to make the project usable again!

Can you please clarify how we could distinguish between the different spark versions? In your example, the project version (e.g. 1.1.0) and the scala version (e.g. 2.11) are specified. There are multiple Spark versions that depend on e.g. Scala 2.11, how could we deal with this ambigu

[2021-04-13 14:43] MrPowers commented on #353
@twollnik - Thanks for the help and good question!

Let's imagine some of the Scala / Spark dependency combinations of some Deequ users:

* Scala 2.11 / Spark 2.4.5
* Scala 2.12 / Spark 2.4.6
* Scala 2.11 / Spark 2.4.5 & Scala 2.12 / Spark 2.4.5 (user that's cross compiling)
* Scala 2.12 / Spark 3.0.1

There should be a single Deequ SBT import statement that'll work for all these users.  Here's th

[2021-04-13 15:07] twollnik commented on #353
Thanks so much for the in-depth explanation! I will follow up with the team and get back to you in case of futher questions :)

[2021-04-15 03:04] #356 closed

[2021-04-15 22:08] rags1357 commented on #303
@sscdotopen @fredrikkjellgren2 checking to see if there are any resolutions to the problem/hacks to get over it , I too see that constraint suggestions fails with Stack overflow error with dataframe more than 500 columns.

[2021-04-16 06:15] alexott commented on #353
completely agree @MrPowers

[2021-04-19 10:02] twollnik commented on #353
Hi @MrPowers,

thanks again for your input on this. We don't want to drop Spark 2.4 support any time soon, because we have existing jobs that use spark 2.4 and can't be migrated to spark 3. We would like to have the option to make use of new deequ features in our existing jobs as they become available.

We would suggest the following:
- We keep the spark version in the deequ version name, e.g. "1.

[2021-04-19 17:25] MrPowers commented on #353
@twollnik - your suggested approach should work 😄

Let me know when you publish those updated JARs and I can do some testing on my end to make sure everything is working.

Thanks for following up and maintaining this project!!

[2021-04-20 07:06] twollnik commented on #353
Thanks so much! ETA is end of this week or early next week.

[2021-04-21 12:37] twollnik commented on #353
Hi @MrPowers,(cc @tdhd)

I performed a couple of releases:

deequ version | artifact name
-- | ---
1.2.1-spark-3.0 | deequ_2.12-1.2.1-spark-3.0.jar
1.2.1-spark-2.4 | deequ_2.12-1.2.1-spark-2.4.jar
1.2.1-spark-2.3 | deequ_2.11-1.2.1-spark-2.3.jar
1.2.1-spark-2.2 | deequ_2.11-1.2.1-spark-2.2.jar

One issue that I came across is that maven does not support publishing multiple artifacts for the same v

[2021-04-21 23:17] MrPowers commented on #353
I can see the JAR file [here](https://repo1.maven.org/maven2/com/amazon/deequ/deequ/1.2.1-spark-3.0/).

![Screen Shot 2021-04-21 at 7 12 16 PM](https://user-images.githubusercontent.com/2722395/115632365-8f3ff800-a2d5-11eb-9128-3fa93d359045.png)

Created [an example app](https://github.com/MrPowers/deequ-example) and am trying to access the lib like this:

[code]

It's not quite working, but I'm p

[2021-04-22 04:52] rey99 opened #357 "Advantages of Deequ over Spark select count"
Hi
I have been looking at deequ and was thinking of replacing my current metrics validations and metrics calculations which I calculate using spark select and count or filter and count, so I was thinking about whether there will be any benefits in using deequ over these simple methods? Also, most of my validations include filtering the data based on some conditions and then counting distinct ids.

[2021-04-23 13:10] MrPowers commented on #357
@rey99 - Thanks for opening this issue.

You don't need Deequ if you're only running distinct counts.  You can use `countDistinct` or `approx_count_distinct`.

If you need to incrementally updated approximate count distinct computations, see [spark-alchemy](https://github.com/swoop-inc/spark-alchemy/), so you can access the underlying HLL sketches.

[2021-04-23 20:52] madhvigupta1982 opened #358 "Getting error when I used check .hasPattern with where clause"
value where is not a member of com.amazon.deequ.checks.Check
[error]         .hasPattern("id", """\b(\w{5})\b""".r).where("demand_source='google'")
                                                                                 ^
[error] two errors found

compile(src/main/scala/com/xxx/deequ/validators:validators) failed: Zinc compile failed.
Traceback:
 File "/Users/xxxxx/.cache/pants/setup/boot

[2021-04-26 08:55] twollnik commented on #353
Hi Matthew,

Thanks so much for setting up the example project and for testing the import! I'm getting errors for the spark-daria import, the deequ import seems to work fine. Can you confirm this finding?

Best, Tom

[2021-04-26 12:00] MrPowers commented on #353
@twollnik - I'm not getting any errors with the spark-daria import and `sbt test` works when I comment out the deequ import and the `VerificationChecksSpec` file.  Here's the error I'm getting when the Deequ stuff is included:

[code]

I will try to get someone else to try on their machine and see what they get 🙃

[2021-04-26 12:57] twollnik commented on #353
No need, I think I found the reason. Thanks for the quick follow-up.

[2021-04-27 12:13] twollnik commented on #354
Hi all. Thanks so much for your patience! We just had a team internal discussion about our future commitments for deequ. The main take away is that this project is important to us and we want to keep maintaining it. The last months have been very busy for us and we are sorry to have been so inactive on the deequ front. We don’t yet have a decision on how much time exactly we can allocate for deequ

[2021-04-27 13:09] JonathonShields opened #359 "Removal of a metric from a metric repository"
Is it possible to remove a metric from a metric repository? I have had a look at the APIs and see no obvious way of doing this. Even if the ability exists to update a metric, i.e. I could add a status tag to its key and modified it to 'cancelled', but again I see no means to do that.

The use case is that I receive data in batches, and each is assessed re its data quality as it comes in, the metri

[2021-04-27 16:12] dwebsco opened #360 "Numeric value in constraint_message column should be accessible in its own column"
For constraints_verification_results we want access to the measured value of the constraint itself.  Presently this only appears accessible within the constraint message column.

There should be a separate column, constraint_value, that contains this value.

![Screen Shot 2021-04-27 at 12 04 52 PM](https://user-images.githubusercontent.com/29832552/116275170-5da1b380-a751-11eb-86d7-284720a1d5f3.pn

[2021-04-28 12:26] konradwudkowski commented on #354
hi @twollnik thanks a lot for your reply. It's great that you plan to maintain this project in the future. I understand the timeline for new features is not guaranteed, how about just getting it work on Spark 3?

[2021-04-28 13:28] twollnik commented on #353
Hi @MrPowers,
I updated the pom.xml and performed releases for Spark 2.2.x to 3.0.x. The new releases are called `1.2.2-spark-..`. I will check whether the releases are importable on Monday. I also opened a PR with README changes and the changes to the pom.xml: https://github.com/awslabs/deequ/pull/361. If you have the time, it would be great if you could take a look.

[2021-04-28 13:30] twollnik commented on #349
Thank you very much for finding and reporting this issue! Should be fixed in https://github.com/awslabs/deequ/pull/361

[2021-04-28 20:24] MrPowers commented on #353
@twollnik - Deequ version 1.2.2-spark-3.0 is working on my end! 🎊 🥳

I can add the dependency to the `build.sbt` file and run `sbt test` in the [deequ-example](https://github.com/MrPowers/deequ-example) project.

Now I'm ready to set out for my original objective - writing a blog post on how to use Deequ 😉

[2021-04-28 20:40] nfx commented on #353
can we also make sure that releases are on github as well? easier to subscribe to notifications and read changelogs.

[2021-04-29 08:20] twollnik commented on #353
@MrPowers This is great, thanks so much for testing the release and also thanks for all your input and support along the way! I am looking forward to reading your blog post :)

@nfx absolutely! I will create the releases when merging the PR https://github.com/awslabs/deequ/pull/361

[2021-04-29 13:57] #353 closed

[2021-04-29 13:59] MrPowers commented on #354
@konradwudkowski - FYI, Deequ is working with Spark 3 now, see here: https://github.com/awslabs/deequ/issues/353#issuecomment-828753420.

[2021-04-29 14:17] MrPowers opened #362 "Deequ project next steps"
Great job getting this project back on the right track.  I know it's a lot of work, but the fun doesn't stop!

Suggested next steps:

* Setup Github actions with matrix build test runs for all supported versions
* Work through issue backlog (most just need to be closed)
* Work through PR backlog (lots of good stuff to get merged)
* Possibly setup Github action to close issues / PRs older than XX d

[2021-05-12 14:00] slgobinath opened #364 "Histogram anomaly detector"
Hi,
I'm trying to check if the histogram of a column is changing between two versions of the data. Though there is a [Histogram](https://github.com/awslabs/deequ/blob/master/src/main/scala/com/amazon/deequ/analyzers/Histogram.scala) analyzer, Deequ's API to use an analyzer for anomaly detection does not support the Histogram analyzer.

The problem comes with the `addAnomaly` method expecting a `Me

[2021-05-15 00:50] joshivinay opened #365 "Extending Analyzer"
In order to extend Analyzer, I need to implement toFailureMetric(), however this method is in private[deequ]  scope. This will force me to recreate the deequ package hierarchy. I found another situation where I needed to extend a Check and ran into the same issue. Any reason why several of these methods / case classes are in private[deequ] scope which makes them impossible to extend without recrea

[2021-05-17 23:19] joshivinay commented on #354
I have my own fork as well, which we use to extend functionality. A lot of the code is in private[deequ] scope which doesnt lend for extension very well unless we create the exact same package hierarchy within our code base.

[2021-05-24 17:44] jaoanan1126 opened #367 "Getting exception when using PyDeequ and Glue"
Hi there! There seems to be a bug while using PyDeequ where Python lambda functions (e.x.  lambda x: x >= 3)  returns an exception for a “constraint_message” . This bug occurs on some development environments. For example I’ve deployed the script on Sagemaker notebook and PyCharm both using the same AWS Glue endpoint. The latter environment would return no errors, while the Sagemaker notebook woul

[2021-05-24 17:51] gucciwang commented on #367
+1 as we are the developers behind PyDeequ and one of our users came to us with this problem!

[2021-05-25 14:24] vgurusamyraju60 commented on #223
Any update on this? We are looking for a process to store the records that are identified. Is the thought that RowLevelSchemaValidator will have this ability?

[2021-05-25 14:25] vgurusamyraju60 commented on #281
I was looking at a similar feature as well. Any update after this was raised?

[2021-05-26 06:52] academy-codex commented on #300
What do you guys feel about batching total columns by 100 columns in each batch. has worked well for us.
@sscdotopen @utkarshshukla2912

[2021-05-29 14:14] amarpatil5060 commented on #223
Any update on supporting RowLevelSchemaValidator with compliance checks?  It will be really helpful for different use cases.

[2021-06-03 08:05] Nithin0304 opened #368 "how to create user defined constriants"
Hi,

how to create a constraint for the given example:

if colA=='A' check if colB != colC . Please explain with an example

Thankyou

[2021-06-09 09:32] lange-labs commented on #22
Pull request #191 was merged, resolving.

[2021-06-09 09:36] #22 closed

[2021-06-09 09:39] lange-labs commented on #41
Resolved through PR #234

[2021-06-09 09:39] #41 closed

[2021-06-09 09:44] lange-labs commented on #138
Closing due to inactivity

[2021-06-09 09:44] #138 closed

[2021-06-09 09:44] lange-labs commented on #172
Closing due to inactivity

[2021-06-09 09:44] #172 closed

[2021-06-09 10:57] lange-labs commented on #193
Resolving - Scala 2.12 is supported now

[2021-06-09 10:57] #193 closed

[2021-06-09 10:58] lange-labs commented on #348
Resolving per #353, #361

[2021-06-09 10:58] #348 closed

[2021-06-09 10:59] lange-labs commented on #168
Resolving per #169 + inactivity

[2021-06-09 10:59] #168 closed

[2021-06-09 11:00] lange-labs commented on #158
Resolving due to inactivity

[2021-06-09 11:00] #158 closed

[2021-06-09 11:00] lange-labs commented on #141
Resolving due to inactivity

[2021-06-09 11:00] #141 closed

[2021-06-09 11:00] lange-labs commented on #119
Resolving due to inactivity

[2021-06-09 11:00] #119 closed

[2021-06-09 11:02] lange-labs commented on #266
Thanks for sharing this work.

Resolving due to inactivity.

[2021-06-09 11:02] #266 closed

[2021-06-09 11:02] lange-labs commented on #264
Closing due to inactivity

[2021-06-09 11:02] #264 closed

[2021-06-09 11:06] lange-labs commented on #252
Closing due to inactivity

[2021-06-09 11:06] #252 closed

[2021-06-09 11:06] lange-labs commented on #233
Closing due to inactivity

[2021-06-09 11:06] #233 closed

[2021-06-09 11:09] lange-labs commented on #226
Release was completed, closing

[2021-06-09 11:09] #226 closed

[2021-06-09 11:10] lange-labs commented on #224
Closing due to inactivity

[2021-06-09 11:10] #224 closed

[2021-06-09 11:12] lange-labs commented on #208
Closing due to inactivity

[2021-06-09 11:12] #208 closed

[2021-06-09 11:14] lange-labs commented on #201
Closing after merging #214 #196

[2021-06-09 11:14] #201 closed

[2021-06-09 11:16] lange-labs commented on #310
Closing due to inactivity; Scala 2.12 is supported

[2021-06-09 11:16] #310 closed

[2021-06-09 11:16] lange-labs commented on #309
Closing due to inactivity

[2021-06-09 11:16] #309 closed

[2021-06-09 11:17] lange-labs commented on #308
Closing due to inactivity

[2021-06-09 11:17] #308 closed

[2021-06-09 11:20] lange-labs commented on #279
Closing due to inactivity

[2021-06-09 11:20] #279 closed

[2021-06-09 11:21] lange-labs commented on #283
Closing due to inactivity; Spark 3 now officially supported

[2021-06-09 11:21] #283 closed

[2021-06-09 11:24] lange-labs commented on #269
Closing due to inactivity

[2021-06-09 11:24] #269 closed

[2021-06-09 11:26] lange-labs commented on #367
Thanks for sharing the issue. We only support the Scala/Spark version of Deequ and cannot comment on other environments / language versions of Deequ.

[2021-06-09 11:28] lange-labs commented on #357
Closing due to inactivity

[2021-06-09 11:28] #357 closed

[2021-06-09 11:28] lange-labs commented on #352
Closing due to inactivity

[2021-06-09 11:28] #352 closed

[2021-06-09 11:29] lange-labs commented on #349
Closing due to inactivity

[2021-06-09 11:29] #349 closed

[2021-06-09 11:32] lange-labs commented on #336
Closing due to inactivity - please reopen if issues are remaining with the latest version.

[2021-06-09 11:32] lange-labs commented on #333
Closing due to inactivity

[2021-06-09 11:32] #333 closed

[2021-06-09 11:33] lange-labs commented on #325
Closing due to inactivity

[2021-06-09 11:33] #325 closed

[2021-06-09 11:33] lange-labs commented on #314
Closing due to inactivity - Spark 3.0 officially supported now

[2021-06-09 11:33] #314 closed

[2021-06-09 11:34] lange-labs commented on #313
Closing due to inactivity

[2021-06-09 11:34] #313 closed

[2021-06-09 11:37] lange-labs commented on #40
Closing due to inactivity

[2021-06-09 11:37] #40 closed

[2021-06-09 11:42] lange-labs commented on #48
Closing due to inactivity

[2021-06-09 11:42] #48 closed

[2021-06-09 11:42] lange-labs commented on #19
Closing due to inactivity

[2021-06-09 11:42] #19 closed

[2021-06-09 11:45] lange-labs commented on #51
Closing due to inactivity

[2021-06-09 11:45] #51 closed

[2021-06-09 11:45] lange-labs commented on #49
Closing due to inactivity

[2021-06-09 11:45] #49 closed

[2021-06-09 11:46] lange-labs commented on #67
Closing due to inactivity

[2021-06-09 11:46] #67 closed

[2021-06-09 11:48] lange-labs commented on #213
Closing due to inactivity

[2021-06-09 11:48] #213 closed

[2021-06-09 11:58] lange-labs commented on #260
Here's the interface and implementation for isNonNegative: https://github.com/awslabs/deequ/blob/db63229e83bf60da0f7cff323f081b2490578b38/src/main/scala/com/amazon/deequ/checks/Check.scala#L801
The check computes how many values are >= 0.
The assertion function describes how you evaluate the resulting fraction of rows, e.g., if 90% of records need to be correct: v >= 0.9.

[2021-06-09 12:01] lange-labs commented on #244
Deequ does not support multiple tables / data frames, that is why it cannot compute foreign key relationships.

[2021-06-09 12:01] #244 closed

[2021-06-09 12:03] lange-labs commented on #235
Closing due to inactivity

[2021-06-09 12:03] #235 closed

[2021-06-10 12:44] rahulgoyal2987 opened #369 "Running mutiple deequ function in single expression"
I want to run mutiple deequ function in single expression
For example
column1 in range of min(column2) and max(column2)
Is there there a way to do this in one run of deequ

[2021-06-10 12:45] sscdotopen commented on #369
Deequ will automatically generates queries to compute these aggregates in a single pass. No need for manual SQL :)

[2021-06-10 12:48] rahulgoyal2987 commented on #369
Can you share some example how it this work?

[2021-06-10 13:14] sscdotopen commented on #369
This happens automatically, just use Deequ as shown in our examples from https://github.com/awslabs/deequ

[2021-06-12 03:16] #369 closed

[2021-06-17 14:21] andreaslang opened #371 "Improve usability of verification suite results if validation is a success"
I am not sure if I am missing something, but I have been struggling making historical verification suite results usable in the sense of that I know what the actual condition was. I have been using hints, which makes things better for failed checks (I actually see what I was checking for), but hints are not added if the assertion was OK.

This code in AnalysisBasedConstraint.scala is what I mean in

[2021-06-18 19:39] ashwin153 opened #372 "Support for Spark 3.1.x"
I see #366 adds support for Spark 3.1 but is not backwards compatible. Are there plans to support Spark 3.1, or is there no way to add support without dropping compatibility?

[2021-06-22 10:43] anistal opened #373 "Error using Spark 3.0.2 (compiled with hadoop 3.2)"
When I am using deequ (1.2.2-spark-3.0) with spark-3.0.2(compiled with hadoop-3.2) I can see the following error:

[code]

I guess that the cause is because deequ is using hadoop 2.7.4 instead of (3.2.x).

Is there any plan to use a newer version of hadoop in the project?

[2021-06-22 22:48] apython1998 commented on #336
This is still an issue for me as well. Unable to compile 1.1 with my spark 3.0 2.12 app

[2021-07-08 11:41] lcgcastro96 commented on #243
Were you able to figure out a solution for your problem? Unfortunately I'm stumbling with the same issue

[2021-07-13 14:45] ml6cz commented on #367
@jaoanan1126  did you by chance end up finding a workaround?

[2021-07-13 17:08] jaoanan1126 commented on #367
It's still being looked into. For now using a SageMaker notebook with a conda_python3 kernel or operating a glue job resolves the lambda issues.

[2021-07-15 23:02] quintusvw opened #374 "Connection problem"
I installed Deequ on my AWS account using the CloudFormation template found [here](https://aws.amazon.com/blogs/big-data/building-a-serverless-data-quality-and-analysis-framework-with-deequ-and-aws-glue/).

It is set up correctly, and I have created the database and table in Glue that it must access and have tested it using the IAM role created by CloudFormation. When executing the step function t

[2021-07-16 18:53] jameskyle commented on #359
Chiming in on this. Doesn't seem to be an obvious way to manage recomputing of data. E.g. I might process and store metrics for a year's data...then there's some problem with the underlying data requiring reprocessing and, thus, recomputing of metrics.

There doesn't seem to be a clear way to remove/replace/etc old metrics with new for this data.

It also raises the question on why json was chosen

[2021-07-20 14:19] twollnik commented on #372
We currently are not aware of a way to add spark 3.1. compatibility AND keep 2.x compatibility. Sadly, we can't drop 2.x compatibility. Thus, we have no immediate plan to support spark 3.1.

[2021-07-20 14:59] lange-labs commented on #374
This problem seems to be related to Glue/RDS connection issues. Unfortunately, we cannot provide support for that use case as part of the Deequ package. Closing.

[2021-07-20 14:59] #374 closed

[2021-07-20 15:02] twollnik commented on #373
At the moment, we don't set the hadoop version explicitly and we currently have no plan to start doing so.

[2021-07-20 15:05] #373 closed

[2021-07-20 15:07] twollnik commented on #371
We like this idea, can you submit a PR?

[2021-07-20 15:17] twollnik commented on #368
Hi. You should be able to use `satisfies` with a `where` clause. Please find an example here: https://github.com/awslabs/deequ/blob/db63229e83bf60da0f7cff323f081b2490578b38/src/test/scala/com/amazon/deequ/checks/FilterableCheckTest.scala#L39

e.g.

[code]

[2021-07-20 15:22] twollnik commented on #365
We have no major concerns about dropping the `private` restriction at the moment. Please feel free to submit a PR :)

[2021-07-20 15:25] twollnik commented on #364
We are open to developments in this direction. The implementation will be tricky as the anomaly detection needs to be adopted to accomodate the new kind of metrics. We currently don't have the bandwidth to implement this ourselves but would be happy to review a (concise) PR on this.

[2021-07-20 15:57] andreaslang commented on #371
Sure can do, will put something up in the next few days.

[2021-07-20 16:57] twollnik commented on #371
Thanks. Don't worry about doing this quickly, we likely won't get around to reviewing the PR until mid august or end of august anyway.

[2021-07-26 10:25] humanzz commented on #372
@twollnik I wonder if it's the right thing to actually close this issue. It's clearly a very valid feature request and I was coming here specifically to check for 3.1.x compatibility and to open a feature request if it's not yet supported.

I did see the discussion in https://github.com/awslabs/deequ/pull/366 and I understand not wanting to drop the 2.x compatibility of course. That does not take

[2021-08-04 14:03] sscdotopen commented on #372
I agree and I think we should have a 3.1x branch/release.

[2021-08-04 14:04] sscdotopen commented on #372
I would suggest to make a maintenance branch with support for Spark 2.x and only backport bugfixes in this branch, and switch to Spark 3.1 for the master branch.

[2021-08-04 14:13] humanzz commented on #372
+1 to @sscdotopen's comments

[2021-08-04 19:36] fernanluyano commented on #336
Same issue today. Exclusions are not working for me as suggested above. Please reopen

[2021-08-09 09:16] lange-labs commented on #368
Closing due to inactivity.

[2021-08-09 09:16] #368 closed

[2021-08-10 08:23] LeRiton commented on #278
Hi @hedibejaoui, can you provide some examples (or link to example projet if any) of how you bind PureConfig to Deequ Verifications, Constraints and Checks? This is exactly what we plan to achieve.

Thanks in advance!

[2021-08-24 07:42] academy-codex commented on #315
@dwsmith1983 I feel the profiling was fixed in #307.

[2021-08-24 07:55] dwsmith1983 commented on #315
@academy-codex
Thanks for the info. I haven't worked on this for sometime now at work. Others are maintaining it but thanks for the update. I will leave this open until a contributor closes for being fixed.

[2021-08-24 10:08] anamikasingh-bigdata opened #376 "Not able to run Deequ due to Compatibility, Please help that how I can run it without any issue."
I have written code for amazon Deequ which is failing due to version issue. In my system Spark 2.4.0 is available, can anyone please suggest that which version of Deequ and Scala, fasterxml etc are compatible to use? I am getting INFO like multiple Scala version detected. I am using Deequ LATEST or tried with some other latest versions too. I am getting multiple version of Scala that may be primar

[2021-08-24 10:14] anamikasingh-bigdata opened #377 "How to save Failed Records of Deequ check in a CSV file, like Null/Empty/Negative checks etc."

[2021-08-31 12:58] alexott opened #380 "Add support for Spark 3.2"
As part of "[SPARK-35558] Optimizes for multi-quantile retrieval", Spark 3.2 changed the signature of `ApproximatePercentile.getPercentiles` function and this broke the Deequ:

[code]

[2021-09-02 12:36] lange-labs commented on #380
Thanks for sharing the issue. My understanding is that Spark 3.2 is not yet released. We'll add support for Spark 3.2 when it is released.

[2021-09-07 10:51] rpasupat opened #381 "Enhancement Request: Histogram with aggregate on a second column"
We have a requirement to store an aggregate (sum for example) of a "second" column along with the histogram counts. Would like to know if such a requirement is already being considered.

I want to analyse the trends based on the second columns aggregate (while picking the top N entries from the histogram).

I imagine the implementation being the addition of a new metric case class and a new analyz

[2021-09-07 15:06] twollnik commented on #381
Just to clarify: You want to track an aggregate metric for each of the historam bins, is that right? So, this would be logically similar to e.g. `data.groupBy("firstColumn").agg(count("*"), sum("secondColumn"))`.

I am not sure how this could be achieved with the current API. @lange-labs @tdhd @TammoR Can you weigh in?

[2021-09-07 15:13] twollnik commented on #377
Hi. I am assuming that you would like to know which rows failed a particular check. So for example, which rows had null values in a certain column. You can find these rows with standard spark. For example

[code]

[2021-09-07 15:13] twollnik commented on #372
spark 3.1 release is done. please re-open in case of any issues.

[2021-09-07 15:13] #372 closed

[2021-09-07 15:17] twollnik commented on #376
Hi. Can you please share the code that caused the error?

Also, you should use this release when using Spark 2.4: https://mvnrepository.com/artifact/com.amazon.deequ/deequ/1.2.2-spark-2.4

[2021-09-08 12:15] rpasupat commented on #381
Yes exactly. Thanks very much @twollnik

Eagerly look forward to a solution from deequ experts here. Either a solution/workaround using existing APIs or this being accepted as a good requirement (but can't achieve using existing features). It will help me confirm and make a decision on my requirement.

[2021-09-08 21:12] joemcmahon commented on #278
I'm working on a wrapper to write out the suggestions as CSV and load them again from `resources`. I'll see if I can open-source this.

[2021-09-09 04:56] anamikasingh-bigdata commented on #377
Hi @twollnik , thanks for your response, but its not fair with Deequ, if I'll use Normal Spark Functions to get Null/Failed Rows then I can get Success rows also using Normal Spark Function, then Why to use Deequ if it will double my work? I think that we should have a single solution which can take ingle input anf finally can produce that these are your success records and these are failed record

[2021-09-09 05:10] sscdotopen commented on #377
You can use the row level schema validator for this:

https://github.com/awslabs/deequ/blob/db63229e83bf60da0f7cff323f081b2490578b38/src/main/scala/com/amazon/deequ/schema/RowLevelSchemaValidator.scala

[2021-09-10 17:11] anamikasingh-bigdata opened #382 "How to get constraints_message for Success rows in Deequ?"
While running Deequ, for all the failed rows I am getting constrains_message column with value but this column is always blank if Deequ check Status is Success, is there any way if we can get constrains_messages value for Success rows too?

Example constraints_message column value for Failed Checks : Value: 0.9926566948782706 does not meet the constraint requirement!
I wants the similar message in

[2021-09-14 17:08] dutrow-qualytics commented on #319
relates to #85

[2021-09-16 17:16] mkviswanadh opened #383 "How to Add the suggested constraints to verification run using PySpark ?"
I'm trying to add the suggested constraints in verification run using pyspark, but somehow I am getting compilation error, I have tried several ways but looks like it is not working, all the references from google are referring only scala examples but I didn't get any reference using pyspark how to dynamically pass generated constraints to Verification Suite hence seeking help on how we can add th

[2021-09-21 04:13] anamikasingh-bigdata opened #385 "Constraints are not overriding for new Table Checks"
I am using Amazon Deequ for Multiple Tables check using loop. For first table Rules, output looks good, but for next tables its failing in bad way because Constraints for older table's rule also getting checks and those all are failing due to column not found. How to delete all the older constraints in loop while it is starting for next table. after reassigning value as var checks: Checks = null

[2021-09-27 09:14] chaurasiya commented on #223
@sscdotopen Is there a way to just get the total processed recordCount and failed recordCount in the _VerificationResult_ . Currently we just get the quantile like 80% records are failing with the Constraint. May be point me, where can I make the changes to add the counts as well, in the _VerificationResult_ ?

[2021-10-01 10:08] skunapareddy-godaddy commented on #246
hi @rambrus What's exactly the abs, ratio, and bins?

[2021-10-05 15:52] Effeppi opened #387 "HdfsStateProvider not working for each new AnalysisRunner"
I'm using AnalysisRunner to execute a Data Quality check.
To use it, I'm using the following code:
`val metricsResult = AnalysisRunner.run(
    data = batchDF,
    analysis = analysis,
    aggregateWith = Some(stateStoreCurr),
    saveStatesWith = Some(stateStoreNext))`

When the stateStoreCurr and stateStoreNext are InMemoryStateProvider(), the notebook works fine.

I expected to use HdfsStatePro

[2021-10-09 23:35] obaidcuet opened #388 "analyzers/checks to generate metrics based on certain dimensions/group by columns"
Hello,

Does deequ has a feature to run analyzers or checks to generate metrics based on certain dimensions/group by columns?

Like how we do in SQL like below:

[code]

In deequ, I am expecting something like below:
[code]

Sorry if I missed something. I checked all the documentation, couldn't able to find an example.

-Obaid

[2021-10-10 15:04] obaidcuet commented on #388
Hi,

I could see a work in progress https://github.com/awslabs/deequ/pull/384

Also, I can see some code that can be used as a workaround:
https://github.com/awslabs/deequ/blob/4e68020fc4c97edbd77686e883450441f17e7634/src/test/scala/com/amazon/deequ/analyzers/StateAggregationIntegrationTest.scala#L62

Are there any other references?

-Obaid

[2021-10-16 13:49] almogtavor opened #390 "How to use deequ in Java"
I wonder if there is a simple quick start example for the usage of deequ in Java? I see that there are great examples for Scala, but a minimal introduction to Java usage would be great.

[2021-10-19 07:52] twollnik commented on #390
You should be able to import and use the Scala classes like you would normal Java classes. Here is a general introduction: [blog post link](http://blog.muhuk.com/2016/05/24/how_to_call_scala_from_java__using_scala_classes.html#.YW54-GYzZhF). Do you have a specific question?

[2021-10-29 19:19] TammoR commented on #380
Yes. We're working on the release.

[2021-11-02 05:52] rpasupat commented on #381
@twollnik Thanks for your response. Appreciate it.

If I understand it right, you are suggesting to store details on the aggregate (e.g. Sum) separately and then compare it with the histogram bins. Is that right?

We store a set of histogram metrics in the metrics repository and later for new data compare it what is in history. Doing it custom would mean, storing similar entries in a different fil

[2021-11-15 08:21] aashishkITV opened #398 "NewChildrenInternal(scala.collection.IndexedSeq) --- Error with newer spark version and deequ version"
Running Constraint Suggestions for Deequ with Spark 3.2 , Deequ 2.0 :

java.lang.AbstractMethodError: Receiver class org.apache.spark.sql.catalyst.expressions.aggregate.StatefulHyperloglogPlus does not define or inherit an implementation of the resolved method 'abstract org.apache.spark.sql.catalyst.trees.TreeNode withNewChildrenInternal(scala.collection.IndexedSeq)' of abstract class org.apache.s

[2021-11-19 21:27] sdandey commented on #380
Hi TammoR, do you have a timeline on when the support can be released.  If you have a specific branch that has the support for 3.2.  Please provide the link to that

[2021-11-22 11:06] TammoR commented on #380
Hi sdandey. We're working on it on this branch: https://github.com/awslabs/deequ/tree/tammruka/2.0.0-spark-3.2.0
We do have limited bandwidth at the moment. If you're able to contribute to this branch towards supporting Spark 3.2, you would be most welcome to.

[2021-11-29 08:59] deenkar opened #399 "Correlation analyzer failing in tammruka/2.0.0-spark-3.2.0"
When running a Correlation analyzer on tammruka/2.0.0-spark-3.2.0 it gives the below error and does not compute Correlation.

case class NewNumRawData(totalNumber: Integer,  count: Integer)

    val rows1 = ss.sparkContext.parallelize(Seq(
      NewNumRawData(1,2),
      NewNumRawData(3,4),
      NewNumRawData(5,6),
      NewNumRawData(7,8),
      NewNumRawData(9,10),
      NewNumRawData(1,2),

[2021-11-30 17:39] deenkar commented on #399
Test In AnalyzerTests ware also failing.

Pearson correlation->

    "yield 1.0 for maximal conditionally informative columns" in withSparkSession { sparkSession =>
      val df = getDfWithConditionallyInformativeColumns(sparkSession)
      Correlation("att1", "att2").calculate(df) shouldBe DoubleMetric(
        Entity.Mutlicolumn,
        "Correlation",
        "att1,att2",
        Success(1.0)

[2021-12-01 06:51] deenkar commented on #380
[https://github.com/awslabs/deequ/issues/399](url)

[2021-12-02 09:41] Mustufain opened #400 "How to use GroupAnalyzer in deequ"
I want to compute the competness of columns based on grouped data. Is there any way how can I achieve that using GroupAnalyzer or there is some other way to do it in deequ

[2021-12-03 06:22] harryson497 opened #401 "How do I identify which check the verificationResult belongs to"
When I do the same type of Check for the same Column, THERE is no way to know which Check the verificationResult belongs to，
I needed to assign a unique ID to each resultsForAllConstraint to match my Check information before running, and now I have to Run each Check once instead of running all checks at once via addChecks.
If I have five rules, I Run five times. A DataFrame is collected five times

[2021-12-03 07:46] harryson497 commented on #382
This is very important, I have the same requirement, I want to add information in Message for individual checks, such as who created the current Check. I can only add this kind of information in Message, but I also need the successful Check information

[2021-12-17 11:38] asktushar opened #402 "Using metrics repository from MySQL"
Hi

I understand we can use metrics repository from filesystem using the below -
[code]

But in cases of Anomaly Detection, we should be using repository from the mysql (mysql has my history of metrics)
I couldn't find a way to create repository using mysql or JSON Data (which i can get from my database), Is there a functionality already available for the same?

Thanks,
Tushar

[2021-12-19 17:26] joesan commented on #380
Is there any update on this?

[2021-12-19 20:39] joesan commented on #380
Managed to fix few of the errors. Left with the following after updading pom.xml to Scala version 2.13 and Spark version to 3.2.

[code]

[2021-12-20 07:22] joesan opened #404 "java.io.IOException: Cannot run program Error when run locally"
I'm facing this error when I checked out a local copy of the project and just tried to do mvn clean install on the master branch:

[code]

I have the following Java version on my classpath:

[code]

[2021-12-21 02:29] rostoh opened #405 "Log4J"
Does Deequ use Apache Log4J ?

[2021-12-21 08:25] joesan commented on #405
I do not see any dependency to Log4J in the pom.xml

[2021-12-22 13:04] #402 closed

[2021-12-23 14:15] asktushar opened #406 "Anomaly checks for point in time data sets"
Hi all,

My question is related to SimpleThresholdStrategy/ AbsoluteChangeStrategy. I understand that it looks into the vector of data over a given period from start to end time.

Let's say, i have "start" and "end" as a week difference. But i don't want to vectors to be compared for the entire week. Let's say i want to do [T] VS [T-1]  or  [T] VS [T-7]

Is there any wrapper already written for th

[2021-12-29 14:45] nfgaier commented on #281
@noahpaige13 Thank you for this work.
I have just one question, where to find RowLevelChecks and RowValidator objects?

[2022-01-05 10:49] neilsoncarlos commented on #188
would you guys have a quick guide on how to create a simple Python wrapper for this class or how to call it from a python script?

[2022-01-07 16:50] pavannpa opened #407 "Scala 2.11.12 sbt deequ build fail"
Hello,

We have scala 2.11.12 and spark 2.4 setup as part of scala project. When deequ is included as part of build and sbt compile | sbt assembly is ran we are experiencing conflict versions . Tried excluding packages by using ExclusionRule or exclude . None of them worked

scala - 2.11.12
spark 2.4
deequ version - 1.2.2-spark-2.4

Build content:

[code]
### Error

error] Modules were resolved wi

[2022-01-10 22:48] #407 closed

[2022-01-11 01:49] garystafford opened #408 "Public Roadmap Feature Request"
Is it possible to publish a public roadmap for the Deequ project to share upcoming features with users?

[2022-01-11 21:25] vaquarkhan opened #409 "Exception in User Class: java.lang.StackOverflowError in deequ"
I am running deequ and found following bug.

When we have deequ.checks under 100 for one dataframe or table deequ working without issue .

[code]

Once check size more then 200  column deequ VerificationResult.checkResultsAsDataFrame start throwing java.lang.StackOverflowError .

You need to add really log checks in deequ like 250 or 300 and run for 100 rows dataframe defeat will reproduce .

[2022-01-18 15:16] Blackbaud-PatrickMcDonald commented on #401
I don't have an answer for you, but just letting you know I also ran into the same problem, so you're not alone. My solution was also to run each check independently, which seems terribly inefficient.

[2022-01-21 18:33] vaquarkhan commented on #303
is this issue fixed  ?
 https://github.com/awslabs/deequ/issues/409

[2022-01-27 19:54] joemcmahon commented on #223
Our solution to this was to iterate over the failing results, parsing the `instance` in the `DoubleMetric` and generating an SQL query to run against the original dataframe to extract the bad records. It's absolutely not a generic solution applicable to integration into `deequ`, but it helps significantly in cleaning up anomalies or refining the constraints.

[2022-01-27 21:06] almogtavor commented on #390
I'd like to know how should I pass the `Seq<Constrain>`, and to understand how to run the tests in a Java platform (JUnit for example). The most basic example of a runnable test would be very helpful.

[2022-01-28 09:09] twollnik commented on #390
Hi there, I left the maintaining team and I am really swamped with other things right now. @dustin-lange @tdhd @TammoR Could one of you please take a look?

[2022-01-31 13:05] abhijit401 opened #410 "Contraint suggestion is not working for few columns in the dataset which does not have enough data"
Hi,
We are kind of hitting a roadblock where constraint suggestion is not suggesting any rules for certain columns which either have 100% NULL data or > 90% NULL data. Is there any threshold percetnage which needs to be met here in order to get the suggested rules for columns having less data?

[2022-01-31 21:59] TomKilleenTR commented on #281
@noahpaige13 Thank you for this work.
Same question, where to find RowLevelChecks and RowValidator objects?

[2022-02-03 14:35] #406 closed

[2022-02-03 15:02] fullysane opened #411 "Deequ function "is not a member of com.amazon.deequ.VerificationRunBuilder" error"
I run the following command on Databricks Notebook with com.amazon.deequ:deequ:2.0.0-spark-3.1 library for checking data quality on input data, and I got error messages on certain functions a member of `com.amazon.deequ.VerificationRunBuilder`. Where are those checks such as `isGreaterThanOrEqualTo`, `hasDataType`, `hasMinLength` exist? I did check the https://github.com/awslabs/deequ/blob/master/

[2022-02-03 17:02] iamsteps commented on #411
It looks like you have two closing brackets at the end of line `.isNonNegative("prem_amt"))`, so your compiler is looking for the functions on the builder rather than on the `Check`.

[2022-02-06 10:51] #411 closed

[2022-02-06 13:41] asktushar opened #412 "Incorrect implementation and usage of DoubleMetric"
As you can see in the below code, `DoubleMetric` is being used to fill repository with previous results.

https://github.com/awslabs/deequ/blob/db63229e83bf60da0f7cff323f081b2490578b38/src/test/scala/com/amazon/deequ/repository/MetricsRepositoryAnomalyDetectionIntegrationTest.scala#L110

`DoubleMetric` is an extension of the `trait Metric[T]`
https://github.com/awslabs/deequ/blob/db63229e83bf60da0

[2022-02-06 13:56] asktushar opened #413 "Repository.Save Overwrites the write operation for the same timestamp"
The `Repository.Save` Method overwrites the write operation for the same timestamp

https://github.com/awslabs/deequ/blob/db63229e83bf60da0f7cff323f081b2490578b38/src/main/scala/com/amazon/deequ/repository/fs/FileSystemMetricsRepository.scala#L41

Reproducing the issue:
Inspired from the Test Case here :

/```
/Repository
      val tempDir = TempFileUtils.tempDir("fileSystemRepositoryTest")

[2022-02-06 14:06] asktushar commented on #413
Looking for more inputs and validations of the above bug. If it makes sense, I'll dig more and pull the fix.

[2022-02-07 03:05] gbalachandra-takeda opened #414 "Deequ not working within Databricks ("
**Issue**: Am facing the similar error using DataBricks (Using python or Scala)
**Error using python **: _TypeError: 'JavaPackage' object is not callable_
**Error using scala **:
_[command-2987343:5](): error: object deequ is not a member of package com.amazon
import com.amazon.deequ.{VerificationSuite, VerificationResult}_

[command-2987343:8](): _error: object deequ is not a member of package co

[2022-02-10 06:55] kelvinluime commented on #414
DBR 9.1 LTS and simply importing the latest maven package (com.amazon.deequ@2.0.0-spark-3.1) from the Library settings page works for me.

For DBR 9.1 LTS above, we will need to wait until this issue #380   is resolved.

[2022-02-11 09:02] Jrecos opened #415 "Falses positives on check Uniqueness constraint"
Hello,

I'm implementing a Data Quality process in a Structure Streaming pipeline in Databricks.

To check if i'm receiving Duplicated data, I'm using this code:

`  val verificationResult = VerificationSuite()
    .onData(batchDF)
    .addCheck(
      Check(CheckLevel.Error, "unitTest")
       .hasUniqueness(Seq("udc", "timestamp", "equipmentid", "value"), Check.IsOne)) // should not contain dupl

[2022-02-11 10:17] Jrecos commented on #415
I'm closing this "issue" due It was part of my igorance.

sorry for the inconvenients.

[2022-02-11 10:17] #415 closed

[2022-02-11 11:52] tanvn commented on #380
Hi @TammoR
I just created a PR for this issue
https://github.com/awslabs/deequ/pull/416
Could you please take a look ?
It seems that I do not have the privilege of setting Reviewers and Assignees, so I would appreciate if you could take care of that part too 🙇

[2022-02-16 07:37] lange-labs commented on #380
Hi @tanvn
Thanks for the great work on this issue! We merged the code with master.

A new Deequ version [2.0.1-spark-3.2](https://mvnrepository.com/artifact/com.amazon.deequ/deequ/2.0.1-spark-3.2) is now available.

[2022-02-23 12:28] SemanticBeeng commented on #281
Here https://github.com/awslabs/deequ/pull/282/commits/fbba5a466b6b8b8642f56a466991c8e4b06113dc#diff-26ffa443c9ee93a2c340f88f54ca4d61b6873c04128e5ae3696ee2b1076d9dd6R353-R381

![image](https://user-images.githubusercontent.com/9296536/155319372-03c7ebdd-63ff-4127-81a5-b088373beccc.png)

@sscdotopen is it agreeable to adopt this ?

[2022-03-02 18:17] chenliu0831 opened #417 "Maintainers"
Is this project still actively maintained?

There's some Spark upgrade which is good. but from the contribution insights and commit history looks like we don't have an active maintainer anymore.

[2022-03-24 20:22] soumyadatascience opened #418 "General Enquiry - RetainCompletenessRule"
I am trying to implement DQ checks using `deequ`  , and part of it to use the `ConstraintSuggestionRunner` to suggest baseline rule in a automated fashion . Upon deep diving into the `RetainCompletenessRule.scala` I see the current implementation sets a `targetCompleteness` only for columns which has a completeness score between 0.2 and 1 , I am interested to know any insights you can share how yo

[2022-03-30 20:49] joemcmahon opened #419 "ConstraintSuggestionRunner failing with `Empty state for analyzer Completeness, all input values were NULL`"
Deequ  version: 2.0.0-spark-3.1

I'm using `ConstraintSuggestionsRunner` to generate a first-cut set of constraints for data, and have hit this issue.

When using the following function to generate suggested checks on a `DataFrame` that has a `nullable` field, `total_clicks`, containing all nulls:

[code]

I get this exception:

[code]

Elided remainder of traceback is from the sample code supplie

[2022-04-25 23:50] jshao111 commented on #398
Is there a workaround? I got the same issue

[2022-05-04 11:48] BabjiManikandanLogandaRajaramKrishnan commented on #161
Hi @sscdotopen, but hasDataType doesn't help us in DATA_TYPE check.

For example :  Consider a column having Zip Code value. Zip Code datatype varies for different Regions (11AN2Z - AlphaNumeric for Americas, 654321 - India) but most of us hold this in String datatype.

Can you please make the dataType cast based on dataFrame.schema instead of typecast to closest match

[2022-05-18 13:58] dlakkad commented on #414
go to environment variables in databricks and add this line:
SPARK_VERSION=3.0.1

Also, make sure you have installed this particular jar: deequ-1.1.0_spark-3.0-scala-2.12.jar

Below is the link to download:
https://mvnrepository.com/artifact/com.amazon.deequ/deequ/1.1.0_spark-3.0-scala-2.12

Now, final step, make sure you're using this particular cluster with config:
7.3 LTS (includes Apache Spark

[2022-06-01 11:15] ankit-khare-2015 opened #420 "Unable to run the demo code on data science workbench environment of cloudera"
Spark version _:
![image](https://user-images.githubusercontent.com/22921775/171391938-cc85b808-7bdd-4bf6-b858-cab5873bd130.png)

`case class RawData(
  productName: String,
  totalNumber: String,
  status: String,
  valuable: String
)

 val rows = spark.sparkContext.parallelize(Seq(
      RawData("thingA", "13.0", "IN_TRANSIT", "true"),
      RawData("thingA", "5", "DELAYED", "false"),
      RawD

[2022-06-07 13:16] ankit-khare-2015 commented on #420
any update here ..?? i really need this to be working

[2022-06-08 08:54] ankit-khare-2015 commented on #420
[joemcmahon](https://github.com/joemcmahon) hope someone can help me understand this issue

[2022-06-08 19:58] ankit-khare-2015 commented on #420
apparently below code solves the issue

`import org.apache.spark.sql.SparkSession

val spark = SparkSession.builder().appName("Spark SQL basic example").config("spark.some.config.option", "some-value").getOrCreate()

// For implicit conversions like converting RDDs to DataFrames
import spark.implicits._

val rows = spark.sparkContext.parallelize(Seq(
      RawData("thingA", "13.0", "IN_TRANSIT", "

[2022-06-08 19:58] #420 closed

[2022-06-09 11:10] shuvamx99 commented on #283
Having trouble loading deequ in Spark 3.2.1 and Scala version 2.13.8.
What do I need to add in the build.sbt file?

[2022-06-09 11:20] shuvamx99 commented on #283
This is the error I am getting: Exception in thread "main" java.lang.NoClassDefFoundError: com/amazon/deequ/checks/Check
	at deequ5.main(Main.scala)
I used this in my build.sbt

libraryDependencies += "org.apache.spark"  %% "spark-core"  % "3.1.0" % "provided"
libraryDependencies +=  "org.apache.spark" %% "spark-sql"   % "3.0.1" % "provided"
libraryDependencies += "com.amazon.deequ"  % "deequ"

[2022-06-09 16:17] shuvamx99 opened #421 "Problem when adding deequ dependency in build.sbt on IntelliJ"
Spark Version: 3.2.1       Scala Version : 2.13.8

This is what the error looks like :

Exception in thread "main" java.lang.NoClassDefFoundError: org/apache/spark/sql/SparkSession$
	at deequ5$.main(Main.scala:11)
	at deequ5.main(Main.scala)
Caused by: java.lang.ClassNotFoundException: org.apache.spark.sql.SparkSession$

And this is my build.sbt file

ThisBuild / version := "0.1.0-SNAPSHOT"

ThisB

[2022-06-10 03:05] parth221 opened #422 "Entropy not running in parallel"
I have around 50 columns in my table when I try to run entropy analyzer it is creating multiple  jobs and they are not executing in parallel while  completeness is creating 1 job and it executing in parallel.
I am using Yarn-Cluster for execution with 2 core and 4 executor.

[2022-06-14 12:57] eladsela opened #423 "AWS Glue job run error - TypeError: 'JavaPackage' object is not callable"
when using ColumnProfilerRunner function,
how do i solve it?

also I tried to work with this it on my mac - also same error

glue version 2.0
spark 2.4
python 3

[2022-06-28 22:21] eeasterly opened #424 "How to use deequ with Spark SQL"
Is there a simple quick start example for the usage of deequ in Spark SQL? If anyone has some suggestions or examples, that would be greatly helpful.  Alternatively, it could be a feature request, as it appears there is a flavor for pySpark.

[2022-06-30 06:12] krithikabalu commented on #333
I am also looking for something like this. Does Deequ has inbuilt integration for notifying?

[2022-07-15 07:13] rmaheshkumarblr opened #426 "Incorrect Mean calculation"
### Mean is calculated incorrectly when the value for the column is really high (Example: EpochTimestamp) and the size of the dataset is high as well (Dataset Size).

**Based on my analysis:**

- In Mean.scala file, the mean is not calculated using the mean function provided by Spark directly, instead the Sum is calculated, the Count is calculated and then a division is being performed.

- https:/

[2022-07-19 12:53] TheDataDexter opened #427 "deequ not running on Spark version 3.3.0 and Databricks Runtime 11.0"
I am trying to update my Databricks runtime to the newest version (DBR 11.0). However, the deequ package is not being installed properly. On the older Databricks runtimes the package is installed with no problems.

MAVEN coordinates: com.amazon.deequ:deequ:2.0.1-spark-3.2

DBR 11.0 configurations:
- Scala version: 2.12
- Spark version: 3.3.0

DBR 10.5 configurations:
 - Scala version: 2.12
 - Spar

[2022-08-08 07:14] cryptopalxyz commented on #424
I think this is a good point.. sometimes, it is not adequate to apply "constraints" on single table but to check "business logic" through "table joins" using Spark SQL.
I think this will help a lot to expand the usage of deequ..

[2022-08-11 08:50] #315 closed

[2022-08-26 06:15] hardiktalati opened #428 "deequ not working on databricks 10.4 runtime"
i am trying to upgrade from 9.1 to 10.4 runtime and its throwing an issue

[2022-08-30 07:56] avanderm opened #429 "Using anomaly detection for custom non-data metrics"
Hey, I really like the anomaly detection options of Deequ and would like to ask if they can be used for metrics outside of Deequ? Some examples:

- freshness of data; not calculated based on data but on some timestamps of resources in AWS, we just use a simple Python function for this
- refresh rate; how often data is updated, again not a measure derived from the data itself

Are there any options

[2022-09-15 14:44] mikenyaga commented on #398
I have spark 3.2.1 same error

Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /___/ .__/\_,_/_/ /_/\_\   version 3.2.1
      /_/

Using Scala version 2.12.15, OpenJDK 64-Bit Server VM, 11.0.12
Branch HEAD
Compiled by user hgao on 2022-01-20T19:26:14Z
Revision 4f25b3f71238a00508a356591553f2dfa89f8290
Url https://github.com/apache/spark
Type --help

[2022-09-17 14:45] norhther opened #433 "Error with modules of pydeequ"
I'm trying to create an anaconda environment to run pydeequ. Basically, I'm following these steps:

conda install openjdk
conda install pypsark==3.0.0 (I think this is needed, because I have been trying to install it using 3.3 and it didn't worked)
conda install -c conda-forge pyspark

Also I installed sagemaker_pyspark. This is a sample code:

[code]

And this worked fine. Also the AnalysisRunner

[2022-09-20 11:01] mfridrikhson commented on #428
For anyone wondering - it is a conflict between `breeze` dependency versions - DBR 7.3 and later use 1.x which conflicts with Deequ's 0.13.2. A version bump should fix it

[2022-09-22 19:05] dariobig opened #435 "Rule Suggestions"
@dariobig Thank you very much for adding this support. Have been planning to implement them at work.
Quick question: would it be feasible to add a new rule suggestion for exact count of the number of records, for a non-nullable column, as well ? (note: please do point me to the right API, in case this capability already exists)
Reasoning behind the ask: At the moment, we are getting aprroxCount wh

[2022-09-22 20:33] dariobig commented on #435
@krishna-chaitanya-meduri I am trying to understand your use case, hasSize constraint as in
`Check(CheckLevel.Error, "unit testing my data").hasSize(_ == XXX)` work for you? Or is that constraint not working for you?

[2022-09-23 03:19] chenliu0831 commented on #433
@norhther  could you try the latest commit in PyDeequ - it's not being released yet, but you could install via `pip install git+https://github.com/awslabs/python-deequ.git@7ec9f6f72839779f370a4753c0db26d6cf052203`

Most notably, you could use much modern dependencies thanks to https://github.com/awslabs/python-deequ/pull/100

[2022-09-23 06:48] krishna-chaitanya-meduri commented on #435
@dariobig Yes, this constraints works, just fine. My request is to make it part of Rule suggestion flow which at the moment is not happening (unless I have some gap in understanding the feature). As of now, the constraints are suggested over approx values which is fine for constraints like completeness, distinct values, etc.,
However, in the case of data migration and replication scenarios, we wou

[2022-09-23 10:51] norhther commented on #433
@chenliu0831 I got the same error with this commit. Is there anything else I could try?

[2022-10-07 11:01] 10hith opened #437 "Deequ for Spark 3.3.0"
Just checking to see if there is a release slated for Spark 3.3.0

[2022-10-07 13:55] Reshmakoganti opened #438 "Do we have anything in DeeQu similar to the Expect/ExpectAll function in scalaSql."
Hello ,

I have a use case where I have to compare 2 datasets for its similarities/changes based on schema and  its data.
Example : Name   email                    ssn
                  John   John@abc.com.   111-111-1111
                  Doe.    doe@abc.com.    222-222-222

                  Name   Email                    ssn
                  John   John@abc.com.   111-211-1112

[2022-10-26 04:40] rakesmn opened #441 "How to implement check rules dynamically in Deequ"
Hi,
Suppose I have 3 files and I have different check rules for 3 different files. Is there any way I can write the rules in a json/yaml file and implement that in Deequ VerificationSuite dynamically based on the file name instead of creating 3 different check rules for 3 different files ?

Any help would be appreciated.

[2022-11-01 06:08] saharahsani commented on #441
I have this question too..
Is there any way to add a file dynamically in Deequ check rules?

Thanks in advance.

[2022-11-01 15:53] raghachellappa commented on #437
We too (in our project) are looking for a version of Deequ that is compatible with Spark 3.3.0. Is there any timelines/tentative ETA for this? Will appreciate any details on this.

[2022-11-08 15:24] giovannipapini-agilelab commented on #437
Same here, is there any news?